@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {

	html { 
		font-family: 'Inter var', sans-serif; 
	}

}

:root {

    font-size: 45%;
    --primary: #FD5381;
	--secondary: #43B994;
	--tertiary: #261B2D;
	--highlighted: #FFCF14;
	--correct: #7FD970;
	--incorrect: #FF7373;
	--bg-1: #EBEBEB;
	--bg-2: #DFDFDF;
	--bg-3: #A6A6A6;

}

* {

    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
	font-family: 'Inter', sans-serif;
    animation-name: appear;
    animation-duration: 1.5s;

}

body {

    width: 100vw;
    height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-1);

}

.progress-bar {

	position: absolute;
	top: 0;
	width: 100%;
	height: 2rem;
	background-color: var(--bg-2);

}

.progress-bar .filled {

	width: 33%;
	height: 100%;
	background-color: var(--primary);

}

.main {

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0rem 9rem 0rem 9rem;
	
}

.box-header {

	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.box-header .title {

	font-size: 3.2rem;
	font-weight: 700;

}

.left-align {

	display: flex;
	justify-content: center;

}

.sponsored {

	display: flex;
	margin-right: 2.4rem;

}

.sponsored .question-reward {

	font-weight: 700;
	font-size: 3.2rem;
	margin-right: 2rem;

}

.sponsored .tag {

	width: 15rem;
	height: 4rem;
	background-color: var(--highlighted);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	font-weight: 700;
	margin-right: 2rem;
	
}

.help-btn {

	width: 3.6rem;
	height: 3.6rem;
	border-radius: 50%;
	background-color: var(--bg-3);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.help-btn .icon {

	font-size: 1.6rem;
	font-weight: 700;
	color: white;

}

.help-btn .info {

	width: 30rem;
	height: 8rem;
	background-color: var(--primary);
	border-radius: 2rem;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: -5rem;
	bottom: -11rem;
	color: white;
	font-size: 1.6rem;
	font-weight: 200;
	padding: 1rem 1.8rem;
	text-align: center;

}

.help-btn .info:after {

		content: "";
		width: 0;
		height: 0;
		position: absolute;
		border-left: 2rem solid transparent;
		border-right: 2rem solid transparent;
		border-bottom: 2rem solid var(--primary);
		top: -2rem;
		right: 16%;

}

.box-header .step-feedback {

	font-size: 3.2rem;
	font-weight: 400;
	margin-bottom: 7.5rem;

}

.question-box {

	width: 100%;

}

.question {

	display: flex;
	align-items: center;
	margin-bottom: 5.5rem;
	
}

.question .number {

	width: 6.4rem;
	height: 6.4rem;
	border-radius: 3.2rem;
	background-color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.2rem;
	font-weight: 700;
	color: white;
	margin-right: 4rem;

}

.question .content {

	width: 100%;
	font-weight: 700;
	font-size: 3.2rem;

}

.answer {

	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 3rem;
	padding: 3rem 5rem;
	margin-bottom: 2rem;

}

.answer.incorrect {

	background-color: var(--incorrect);

}

.answer.incorrect .content {

	color: white;

}

.answer.correct {

	background-color: var(--correct);

}

.answer.correct .content {

	color: white;

}

.answers:last-child {
	margin-bottom: 3rem;
}

.answer .radio-btn {

	cursor: pointer;
	min-width: 6.4rem;
	min-height: 6.4rem;
	border-radius: 3.2rem;
	background-color: var(--bg-1);
	margin-right: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

.radio-btn .status.active {

	width: 4.5rem;
	height: 4.5rem;
	background-color: var(--bg-3);
	border-radius: 50%;

}

.answer .content {

	width: 100%;
	font-size: 3.2rem;
	font-weight: 400;
}

.controls {

	width: 100%;
	display: flex;
	justify-content: flex-end;

}

.controls .active {

	background-color: var(--correct);
	color: white;
	font-size: 3.2rem;
	font-weight: 700;
	width: 25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	height: 8rem;

}